<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Data binding</title>
    <script src="../libs/angular/1.3.8/angular.min.js"></script>
    <script src="demo1.js"></script>
    <script>
        /**
         * 常用指令
         */
        var myApp = angular.module('myApp',[]);
        myApp.controller('FilterController',['$scope',function($scope){
            $scope.friends = [
                {money: 200.154,name:'John', age:25, gender:'boy',born:'1421319258410'},
                {money: 200.154,name:'Jessie', age:30, gender:'girl',born:'1421319258410'},
                {money: 200.154,name:'Johanna', age:28, gender:'girl',born:'1421319258410'},
                {money: 200.154,name:'Joy', age:15, gender:'girl',born:'1421319258410'},
                {money: 200.154,name:'Mary', age:28, gender:'girl',born:'1421319258410'},
                {money: 200.154,name:'Peter', age:95, gender:'boy',born:'1421319258410'},
                {money: 200.154,name:'Sebastian', age:50, gender:'boy',born:'1421319258410'},
                {money: 200.154,name:'Erika', age:27, gender:'girl',born:'1421319258410'},
                {money: 200.154,name:'Patrick', age:40, gender:'boy',born:'1421319258410'},
                {money: 200.154,name:'Samantha', age:60, gender:'girl',born:'1421319258410'}
            ];

            $scope.showInfo = function(){
                console.log('这里是绑定的事件');
            };
            $scope.show = function(){
                alert('my daddy is ' + $scope.name);
            };

            $scope.myalert = function(msg){
                alert('hello ' + msg);
            };

            $scope.showCheck = function(){
                console.log('is checked :' + $scope.checked);
            };
        }]);
        myApp.filter('ageFilter',function () {
            return function (friends, age) {
                var subArr = [];
                for (var i = 0, len = friends.length; i < len; i++) {
                    if(friends[i].age>age){
                        subArr.push(friends[i]);
                    }
                }
                return subArr;
            }
        });

        myApp.directive('greeting',function(){
            return {
                restrict: 'EA',
                scope:{
                    greet: '&'
                },
                template: '<input type="text" ng-model="info"/>' +
                          '<button ng-click="greet({msg:info})">点我</button>'
            }
        });
    </script>
</head>
<body ng-controller="FilterController">
    <div>
        I have {{friends.length}} friends. They are:
        <input type="search" ng-model="q" placeholder="filter friends..." />
        <input type="text" ng-model="age" ng-init="age=10" placeholder="filter age big then input"/>
        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="friend in friends | filter:q | ageFilter:age | orderBy:'name':true as results">
                <p>[{{$index + 1}}] {{friend.name | uppercase}} who is {{friend.age}} years old. and he has {{friend.money | number:1 | currency:"&yen;"}} money
                    and was born at {{friend.born | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
                <greeting greet="myalert(msg)"></greeting>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </div>
</body>
</html>