<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Service Define</title>
    <script src="../libs/angular/1.3.8/angular.min.js"></script>
    <script src="services.js"></script>
</head>
<body ng-controller="ServicesController">
    <p>
        Query: <input type="text" ng-model="author"/>
    </p>
    <ul>
        <li ng-repeat="book in books | filter:author | orderBy:'author':true">
            {{book.author}}&nbsp;&nbsp;&nbsp;{{ book.name}}
        </li>
    </ul>
</body>
</html>